---
import { firstCapitalLetter } from "../../core/motor";

const { src, number, name } = Astro.props;
---

<a href={`/pokemon/${name}`}>
	<div
		class="p-4 m-4 flex flex-col items-center rounded-lg cursor-pointer bg-white hover:shadow-md hover:scale-105 transition-all"
	>
		<img class="w-24 mb-2" src={src} alt={name}/>
		<p>{`No. ${number.toString().padStart(3, "0")}`}</p>
		<div class="flex items-center">
			<img class="max-w-4 max-h-4 m-1" src="/pokeball-8bit.png" alt="pokeball"/>
			<p class="first-letter:capitalize"><strong>{name}</strong></p>
		</div>
	</div>
</a>
